* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.Header-logo {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Header-nav {
    width: 400px;
    display: flex;
}

.Header-nav-ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}